<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">Edit Location</h1>
    <div class="col-6 offset-3">
    <form action="/places/<%=place._id%>/edit" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" value="<%=place.title %>" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="location" value="<%= place.location%>" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input class="form-control" type="text" id="description" name="description" value="<%= place.description%>" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image</label>
            <input type="file" name="image" id="image" multiple>
        </div>
        <div class="mb-3">
        <button class="btn btn-success">Update Place</button>
        </div>
    </form>
    <a href="/places/<%= place._id%>">Back To Places</a>
   </div>
</div>
    
